@font-face {
    font-family: "phi";
    src: url("../InFo/fontes/PatuaOne-Regular.ttf");
  }
  
  @keyframes shade {
    from {
      opacity: 0.2;
    }
    to{
      opacity: 1
    }
  }
  
  * {
    margin: 0;
  }
  
  body {
    background-color: #f2f2f2;
  }
  
  #header {
    background-color: #f2f2f2;
    justify-content: center;
    height: 75px;
    width: 100%;
    padding: 10px;
    display: flex;
    position: fixed;
  }
  
  #itens {
    display: flex;
    margin-left: -540px;
    list-style: none;
  }
  
  .navLink {
    position: absolute;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.65);
    font-family: "phi";
    padding-top: 20px;
  }
  
  .navLink:hover {
    color: rgba(0, 0, 0, 0.8);
    text-decoration: underline;
  }
  
  .navItem {
    margin-left: 120px;
    font-size: 25px;
  }
  
  #homeIcon {
    margin-right: -30px;
    cursor: pointer;
  }
  
  #t1 {
    margin-left: -11px;
  }

  #idioma{
    margin-top: 20px;
    position: absolute;
    margin-left: 30%;
  }
  
  .idm-btn{
    font-family: "phi";
    background-color: #f2f2f2;
    border: none;
    width: 40px;
  }
  
  #idm-btn-img{
    margin-left: 5px;
    margin-top: 2px;
  }
  
  

  
  #home-banner{
    display: flex;
    justify-content: center;
  }
  
  #home-banner-img{
    width: 100%;
    margin-top: 150px;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
    
  }
  
  #banner-img{
    width: 98%;
    max-width: 1800px;
    animation: shade 2s
  
  }
  
  .carrossel-btn{
    border: none;
    background-color: #f2f2f2;
    font-size: 50px;
    margin-top: 50px;
  }
  
  #boxes {
    display: flex;
    justify-content: center;
  
  }
  
  .btn {
    border-radius: 50px;
    border: solid 6px;
    font-size: 50px;
    font-family: "phi";
    width: 280px;
    height: 220px;
    cursor: pointer;
  }
  
  #btn1 {
    background-color: #74cbdd;
  }
  
  #btn2 {
    background-color: #e5daa5;
    margin-left: 100px;
  }
  
  #btn3 {
    background-color: #db586e;
    margin-left: 100px;
  }
  
  #btn1:hover,
  #btn2:hover,
  #btn3:hover{
    font-size: 54px;
    box-shadow: 4px 4px 4px;
  
  }
    
  #turmas,
  #sobre {
    display: flex;
    justify-content: center;
    font-size: 40px;
    margin-bottom: 70px;
    margin-top: 60px;
    font-family: "phi";
  }
  
  #sobre{
    margin-top: 130px
  }
  
  #sobre-txt {
    font-size: 25px;
    display: flex;
    justify-content: center;
    font-family: "Times New Roman", Times, serif;
  }
  
  #pics {
    display: flex;
    justify-content: center;
    padding-top: 80px;
  }
  
  .pic {
    height: 150px;
    border-radius: 50px;
    margin-top: -45px;
    margin-left: 15px;
  }
  
  .pic-box {
    padding-top: 50px;
    display: inline-block;
    background-color: #f2f2f2;
    box-shadow: 1px 1px 6px;
    border-radius: 40px;
    width: 140px;
    height: 180px;
    margin-left: 40px;
  }
  
  .aurea {
    padding-top: 10px;
    padding-left: 16%;
  }
  .aurea-link {
    padding-left: 6%;
    font-family: "phi";
    text-decoration: none;
    
  }
  
  .aureo {
    padding-top: 10px;
    padding-left: 12%;
  }
  .aureo-link {
    padding-left: 22%;
    font-family: "phi";
    text-decoration: none;
  }
  
  .emily {
    padding-top: 10px;
    padding-left: 25%;
  }
  .emily-link {
    padding-left: 24%;
    font-family: "phi";
    text-decoration: none;
  }
  
  .gabi {
    padding-top: 10px;
    padding-left: 20%;
  }
  .gabi-link {
    padding-left: 19%;
    font-family: "phi";
    text-decoration: none;
  }
  
  .jao {
    padding-top: 10px;
    padding-left: 23%;
  }
  .jao-link {
    padding-left: 13%;
    font-family: "phi";
    text-decoration: none;
  }
  
  .aurea-link:hover,
  .aureo-link:hover,
  .emily-link:hover,
  .gabi-link:hover,
  .jao-link:hover {
    text-decoration: underline;
  }
  
  #footIcon {
    padding-top: 40px;
  }
  
  #footCopyrightTxt {
    padding-top: 15px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .footComponents {
    display: inline-block;
  }
  
  #footContato,
  #footSiga {
    font-size: 25px;
    margin-left: 150px;
    padding-top: 50px;
    font-family: "Times New Roman", Times, serif;
    margin-bottom: 8px;
    font-weight: bold;
  }
  
  .foot-dados {
    margin-left: 153px;
    padding-top: 5px;
    font-size: 19px;
  }
  
  #foot-link {
    position: relative;
    list-style: none;
    padding-left: 150px;
  }
  
  .txt-link-foot {
    position: absolute;
    font-size: 19px;
    margin-top: 5px;
    padding-left: 10px;
    color: rgba(0, 0, 0);
    text-decoration: none;
  
  }
  
  .txt-link-foot:hover {
    color: rgba(0, 0, 0, 0.7);
  }
  
  #foot {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    bottom: 0;
    background-color: #0aff916e;
    width: 100%;
    height: 230px;
    color: rgba(0, 0, 0, 0.8);
  }